#wrapper{
    background-color: black;
   margin: 0px auto;
   background-size: 80px 60px;
   background-repeat: no-repeat;
   /* width:800px;
   height:10000px; */

}



#outerbox{
width: 700px;
height :800px;
background-color: purple; 
}

#outerbox img {
    max-width: 100%;
    max-height: 100%;
    /* display: none; */
}

#row h1{
    color :orange;
    text-align: center;
}

#row{
    display: block;
    background-color: grey;
    width: 200px;
    margin: 0px auto;
   
}


#row button{
    display: inline-block;
    background-color: white;
}
/* 
$('#beach').click(function(){
    $('#wrapper').css('background-image',"url('images/beach.jpg')");
 });
 $('#planet').click(function(){
     $('#wrapper').css('background-image',"url('images/earth.jpg')");
 }); 
 $('#matrix').click(function(){ 
     $('#wrapper').css('background-image',"url('images/matrix.jpg')","background-size: 350px 60px",
     "background-repeat: no-repeat"); */