/* arena css */
#wrapper{
    background-color: black;
   margin: 0px auto;
   background-size: cover;
   background-repeat: no-repeat;
   /* width:800px;
   height:10000px; */
}

#wrapper img{
    max-width: 100%;
    max-height: 100%;
}

#outerbox{
width: 700px;
height :800px;
/* background-color: purple;  */
}

/* #outerbox img {
    max-width: 100%;
    max-height: 100%;
    /* display: none;} */


.row h1{
    color :orange;
    text-align: center;
}

.row{
    display: block;
    background-color: grey;
    width: 247px;
    margin: 0px auto;
    position: relative;
    top: 342px;
    left: 261px;
    height: 142px;
}


.row button{
    display: inline-block;
    background-color: white;
    width: 60px;
    margin-left: 16px;
    margin-top: 8px;
}

.dropdown{
    display:none;
}

#leftDropdown{
   display: inline-block;
   margin-left: 2px;
   margin-right: 4px;
}

#rightDropdown{
    display: inline-block;
    margin-left: 16px;
    margin-right: 27px;
}

.players{
    display:block;
    position: absolute;
}

#leftPlayer{
    display: inline-block;
    position: absolute;
    top: 600Px;
}

#leftPlayer img{
    display: inline-block;
    width: 200px;
    height: 300px;
} 

#rightPlayer{
    display: inline-block;
    position: absolute;
    top: 600Px;
}

#rightPlayer img{
    display: inline-block;
    width: 200px;
    height: 300px;
}


.pic1{
    position: relative;
    bottom: 505px;
    left:500px;
}

.players{
display: block;
}